// Colores 
// Primer esquema

$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;

// Segundo esquema

$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;

// Tercer esquema 

$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;


// Tipografías 

$roboto:  'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//Peso de fuentes



// Tamaño de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

